<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kripto Yangiliklar</title>
</head>
<body>
	<h1>ENG SOʻNGGI KRIPTO YANGLIKILAR BILAN TANISHING:</h1>
<!-- 	<ul>
		{% for article in top_headlines.articles %}
			<li>
				<h2>{{ article.title }}</h2>
				<p>{{ article.description }}</p>
				<a href="{{ article.url }}" target="_blank">Koʻproq oʻqing</a>
			</li>
		{% endfor %}
	</ul>
 -->
	<ul>
		{% for article in all_articles.articles %}
			<li>
				<h2>{{ article.title }}</h2>
				<p>{{ article.description }}</p>
				<a href="{{ article.url }}" target="_blank">Koʻproq oʻqing</a>
			</li>
		{% endfor %}
	</ul>
</body>
</html>