<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gʻazo Yangiliklari</title>
</head>
<body>

{% extends 'base.html' %}	

{% block content %}

	<h1>GʻAZO SEKTORI YANGILIKLARI</h1>
		<ul>
		{% for article in all_articles.articles %}
			
			{% if article.title != '[Removed]' %}
			<li>
				<h2>{{ article.title }}</h2>

				{% if article.description %}
				<p>{{ article.description }}</p>
				{% endif %}
			
				<a href="{{ article.url }}" target="_blank">Koʻproq oʻqing</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}

</body>
</html>