{% extends 'base.html' %}

{% block content %}

	<h1>KUN YANGILIKILARI:</h1>

		<ul>
			{% for article in top_headlines.articles %}

				{% if article.title != '[Removed]' %}

				<li>
					<div class="card-container">
					<div class="card" style="width: 18rem;">
					  <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">{{ article.title }}</h5>
					    <p class="card-text">{% if article.description %}
							<p>{{ article.description }}</p>
						{% endif %}</p>
					    <a href=""{{ article.url }} target="_blank" class="btn btn-primary">Koʻproq oʻqing</a>
					  </div>
					</div>
				</div>
				</li>

				{% endif %}

			{% endfor %}
		</ul>

{% endblock content %}
