{% extends 'base.html' %}

{% block content %}

	<h1>KUN YANGILIKILARI:</h1>

		<ul>
			{% for article in top_headlines.articles %}

				{% if article.title != '[Removed]' %}

				<li>
					<h2><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h2>
					
					{% if article.description %}
						<p>{{ article.description }}</p>
					{% endif %}

					<img src="{{ article.urlToImage }}"><br>
				</li>

				{% endif %}

			{% endfor %}
		</ul>

	<!-- <ul>
		{% for post in object_list %}
			<li>
				<h2>{{ post.title }}</h2></hr>
					{{ post.text }}
			</li>
		<h3>@{{ post.user.username }}</h3>
		{% endfor %}
	</ul> -->

{% endblock content %}
